html, body {
  margin: 0;
  height: 100%;


  & > div {
    height: 100%;
  }
}

body {
  /* font-family: Montserrat, sans-serif; */
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-on-background);
}
