.Title {
  @apply --text-title-base;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 calc(var(--spacing) / 2);
  @media (--tablet) {
    @apply --text-title-tablet;
    padding: 0 var(--spacing);
  }
}
