.Home > .BlogPosts {
  margin-top: var(--spacing);
  @media (--tablet) {
    margin-top: calc(var(--spacing) * 2);
  }
}

.Home > .Footer {
  margin-top: var(--spacing);
  @media (--tablet) {
    margin-top: calc(var(--spacing) * 2);
  }
}
