.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  height: 70px;
  min-width: 300px;
  margin: 0;
  box-sizing: border-box;
  padding: 0 10px;
  border: 2px solid var(--color-text-on-black);
  background-color: ar(--color-black);
  color: inherit;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  line-height: 55px;
  letter-spacing: 0.42px;
  transform: scale3d(1, 1, 1);
  transition: transform var(--animation-time) var(--animation-ease);
}



.Button--disabled {
  opacity: 0.2;
  pointer-events: none;
  transform: scale3d(0.75, 0.75, 1);
}


.Button--loading {
  background-color: color(var(--color-cta) l(+2%));
  pointer-events: none;
}
