.Article {
}




.Article > * {
  margin: 0 auto;
  margin-top: var(--spacing);
  @media (--tablet) {
    margin-top: calc(var(--spacing) * 2);
  }
  &:first-child {
    margin-top: 0;
  }
}




.Article > h1 {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  @media (--tablet) {
    margin-top: calc(var(--spacing) * 2);
    margin-bottom: calc(var(--spacing) * 2);
  }
}



.Article > .ImageSet + .ImageSet {
  margin-top: calc(var(--spacing) / 2);
  @media (--tablet) {
    margin-top: var(--spacing);
  }
}


/*
.Article > div + p,
.Article > p + div,
.Article > .ImageSet + .TwoColumns,
.Article > .TwoColumns + .ImageSet {
  margin-top: var(--spacing);
  @media (--tablet) {
    margin-top: calc(var(--spacing) * 2);
  }
} */
