.CaseCard {
  display: block;
  text-decoration: none;
  width: 100%;
}



.CaseCard > img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  transition-property: transform box-shadow;
  transition-duration: 200ms;
  transition-timing-function: var(--animation-ease);
}

.CaseCard:hover > img {
  transform: translate3d(0, -20px, 0) scale3d(1.01, 1.01, 1);
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.2);
}



.CaseCard > span {
  @apply --text-subtitle-base;
  display: block;
  margin-top: calc(var(--spacing) / 2);
  color: var(--color-text-on-background);
  text-align: center;
  @media (--tablet) {
    @apply --text-subtitle-tablet;
    padding: 0 calc(var(--spacing) / 2);
  }

  &:nth-child(2) {
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: var(--animation-ease);
  }

  &:last-child {
    opacity: 0.5;
    font-weight: 400;
    font-size: 12px;
    @media (--tablet) {
      font-size: 18px;
    }
  }
}

.CaseCard:hover > span:nth-child(2) {
  transform: translate3d(0, -10px, 0);
}
