.CaseCard {
  display: block;
  text-decoration: none;
  width: 100%;
}



.CaseCard > img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}



.CaseCard > span {
  display: block;
  margin-top: calc(var(--spacing) / 2);
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text-on-background);
  text-align: center;
}
@media (--tablet) {
  .CaseCard > span {
    font-size: 42px;
    padding: 0 calc(var(--spacing) / 2);
  }
}


.CaseCard > span:last-child {
  opacity: 0.5;
  font-weight: 400;
  font-size: 12px;
}
@media (--tablet) {
  .CaseCard > span:last-child {
    font-size: 18px;
  }
}



.CaseCard__effect {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--card-effect-color);
  transform-origin: 0 0;
  animation-name: cardEffectAppear;
  animation-duration: var(--card-effect-duration);
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}


@keyframes cardEffectAppear {
  0% {
    transform: scale3d(1, 0, 1);
  }
  49% {
    transform-origin: 0 0;
    transform: scale3d(1, 1, 1);
  }
  51% {
    transform-origin: 100% 100%;
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform-origin: 100% 100%;
    transform: scale3d(1, 0, 1)
  }
}
