.Hero {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.Hero__content {
  padding: 0 calc(var(--spacing) / 2);
}
@media (--tablet) {
  .Hero__content {
    padding: 0 var(--spacing);
  }
}




.Hero__content > h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  width: 100%;
  opacity: 1;
  text-align: center;

  animation-name: fadeIn;
  animation-duration: 800ms;
  animation-fill-mode: backwards;
  animation-delay: var(--hero-delay);
  animation-timing-function: cubic-bezier(.77,0,.41,.99);
}
@media (--tablet) {
  .Hero__content > h2 {
    font-size: 98px;
  }
}





.Hero__content > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: calc(var(--spacing) / 2);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  max-width: 500px;
  opacity: 1;

  animation-name: fadeIn;
  animation-duration: 800ms;
  animation-fill-mode: backwards;
  animation-delay: var(--cases-delay);
  animation-timing-function: cubic-bezier(.77,0,.41,.99);

  & > a {
    color: var(--color-text-hero-nav);
    text-decoration: none;
    text-transform: uppercase;
  }
}
@media (--tablet) {
  .Hero__content > nav {
    font-size: 18px;
    margin-top: var(--spacing);
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
