.Cases {
  max-width: 1400px;
  margin: 0 auto;
}

.Cases__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;

  transform: translate3d(0, -140px, 0);

  animation-name: caseMove;
  animation-duration: 800ms;
  animation-fill-mode: backwards;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(.77,0,.41,.99);

  & > div {
    flex: 1;
    display: block;
    height: 600px;
    background-color: #ffdd59;
  }

  & > :last-child {
    margin-left: 60px;
    background-color: #ef5777;
    transform: translateY(60px);
  }

  &:nth-child(2) {
    & > div {
      background-color: #4bcffa;
    }

    & > :first-child{
      transform: translateY(20px);
    }

    & > :last-child {
      background-color: #34e7e4;
    }
  }
}



@keyframes caseMove {
  0% {
    transform: translate3d(0, calc(25vh - 140px), 0);
  }
  100% {
    transform: translate3d(0, -140px, 0);
  }
}
