.Cases {
  max-width: 1800px;
  margin: 0 auto;
}




.Cases__row {
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--spacing) / 2);
  transform: translate3d(0, 0, 0);
  transition-property: transform;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(.77,0,.41,.99);

  & > * {
    margin-bottom: var(--spacing);
  }
}

.Cases--nudge .Cases__row {
  transform: translate3d(0, -140px, 0);
}

.Cases--nudgeInstant .Cases__row {
  transition-property: none;
}

@media (--tablet) {
  .Cases__row {
    flex-direction: row;
    margin-bottom: var(--spacing);
    padding: 0 var(--spacing);

    & > * {
      margin-bottom: 0;
    }

    & > :last-child {
      margin-left: var(--spacing);
      transform: translateY(60px);
    }

    &:nth-child(2) {
      & > :first-child{
        transform: translateY(-80px);
      }
    }
  }
}
