.Splash {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: var(--spacing);
  background-color: var(--splash-background);
  color: var(--splash-color);
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--splash-fade-duration);
  transition-timing-function: ease-in-out;
}

.Splash--hide {
  pointer-events: none;
  opacity: 0;
}


/* .Logo letters */
.Splash__logo {
  flex: 1;
}

.Splash__logo > svg > * {
  fill: var(--splash-color);
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
