.CtaBox {
  @media(--desktop) {
    padding: 0 var(--spacing);
  }
}

.CtaBox__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing) calc(var(--spacing) / 2);
  background-color: var(--color-black);
  color: var(--color-text-on-black);
  max-width: 1800px;
  box-sizing: border-box;
  margin: 0 auto;
  @media (--tablet) {
    padding: calc(var(--spacing) * 2) var(--spacing);
  }
}

.CtaBox__content > * {
  margin: 0;
  padding: 0;
  font-size: 22px;
  margin-top: calc(var(--spacing) / 2);
  max-width: 700px;
  text-align: center;
}

.CtaBox__content > :first-child {
  max-width: none;
  margin-top: 0;
  margin-bottom: var(--spacing);
  @apply --text-title-base;
  @media (--tablet) {
    @apply --text-title-tablet;
  }
}

.CtaBox__content > :last-child {
  margin-top: var(--spacing);
}
